/* Toggle Switch Container */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: fixed;
  top: 1.8rem;
  right: 4rem;
  z-index: 9999;
}


/* Dark Mode State */
.dark-mode {
  --background-color: #0e0e0e;
  --default-color: #dcdcdc;
  --heading-color: #ffffff;
  --accent-color: #00d084;
  --surface-color: #1a1a1a;
  --contrast-color: #ffffff;

  /* Nav Colors */
  --nav-color: #dcdcdc;
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #111111;
  --nav-dropdown-background-color: #1b1b1b;
  --nav-dropdown-color: #bbbbbb;
  --nav-dropdown-hover-color: #00d084;
}
